@function em($px, $base: $font-size-base) {
  @return ($px / $base) * 1em;
}

@mixin width-grid($col: 12 , $name: ".w-"){
    @for $value from 1 through $col {
    
      $width: percentage($value/$col);
    
      #{$name}#{$value}-#{$col} {
        width: $width;
      }
    }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
